In [1]:
import pandas as pd
from xgboost.sklearn import XGBClassifier, XGBRegressor
from sklearn import metrics   #Additional scklearn functions
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import RandomizedSearchCV
import math
from IPython.display import display
import os


X_train = pd.read_csv("train_test_data/X_train.csv", index_col="uid").drop("Unnamed: 0", axis="columns")
X_test = pd.read_csv("train_test_data/X_test.csv", index_col="uid").drop("Unnamed: 0", axis="columns")
y_test = pd.read_csv("train_test_data/y_test.csv", index_col="uid").drop("Unnamed: 0", axis="columns")
y_train = pd.read_csv("train_test_data/y_train.csv", index_col="uid").drop("Unnamed: 0", axis="columns")

In [2]:
# We only consider the post scores
class_names = [col for col in y_test.columns if "post" in col]
# Use the wk 9 to 10 training data only
used_weeks = [str(wk) for wk in range(9,11)]
filtered_columns = X_train.columns[X_train.columns.str.endswith(tuple(used_weeks))]
# Select all wk 9 and 10 features
filtered_features = X_train[filtered_columns]
train_data = {"class": {}, "regr": {}}
test_data = {"class": {}, "regr": {}}
# Prepare training and test data for classification model and regression model respectively
for name in class_names:
    # Classification labels
    if "class" in name:
        target_type = "class"
    else:
        target_type = "regr"
    train_data[target_type][name] = {"x": {}, "y": {}}
    test_data[target_type][name] = {"x": {}, "y": {}}
    # Only consider data which has the post score being not null
    not_null_indices = np.logical_not(y_train.loc[:, name].isnull())
    train_data[target_type][name]["x"] = filtered_features[not_null_indices]
    train_data[target_type][name]["y"] = y_train[not_null_indices].loc[:, name]
    test_data[target_type][name]["x"] = X_test[filtered_columns]
    test_data[target_type][name]["y"] = y_test.loc[:, name]

In [3]:
# Function to find the best hyperparameters for each model
def find_best_model(rscv, x, y):
    best_model = rscv.fit(x, y)
    print("processing")
    # Print out the best parameters for the model
    print()
    print("Optimal parameters: {", end="")
    print("Learning rate: ", best_model.best_estimator_.get_params()["learning_rate"], end=", ")
    print("Gamma: ", best_model.best_estimator_.get_params()["gamma"], end=", ")
    print("Max depth: ", best_model.best_estimator_.get_params()["max_depth"], end=", ")
    print("Subsample: ", best_model.best_estimator_.get_params()["subsample"], end=", ")
    print("Max features at split: ", best_model.best_estimator_.get_params()["colsample_bytree"], end=", ")
    print("Min child weight: ",
          best_model.best_estimator_.get_params()["min_child_weight"], end=", ")
    print("Alpha: ", best_model.best_estimator_.get_params()["reg_alpha"], end=", ")
    print("Lambda: ", best_model.best_estimator_.get_params()["reg_lambda"], end=", ")
    print("Number of estimators (trees): ", best_model.best_estimator_.get_params()["n_estimators"], end="}\n\n")

    return best_model

In [4]:
def report_classifier_performance(model, x, y):
    predict = model.predict(x)
    predict_proba = model.predict_proba(x)[:, 1]
    print("Accuracy :", metrics.accuracy_score(y, predict))
    print("logloss:", metrics.log_loss(y, predict))
    print("AUC Score:", metrics.roc_auc_score(y, predict_proba))
    print()

    
# Classifier parameter grid
class_parameters = {"learning_rate": [0.1, 0.05, 0.01, 0.001], 
                    "gamma" : [0.01, 0.1, 0.3, 0.5, 1, 1.5, 2],
                    "max_depth": [4, 5, 6, 7, 9],
                    "colsample_bytree": [0.3, 0.6, 0.8, 1.0],
                    "subsample": [0.2, 0.4, 0.5, 0.6, 0.7],
                    "min_child_weight": [1, 3, 5, 7],
                    "n_estimators": [100, 250, 500, 1000, 1500, 2000]}

In [5]:
# Baseline classifier
baseline_classifier = XGBClassifier(objective='binary:logistic', scale_pos_weight=1)
xgb_rscv_classifier = RandomizedSearchCV(baseline_classifier, param_distributions=class_parameters,
                                         scoring="neg_log_loss", verbose=False, cv=5, random_state=2, n_jobs=4, n_iter=50)

# Find the optimal classifier and its performance on training and test set respectively
for name in train_data["class"]:
    print("Prediction of " + name)
    model = find_best_model(xgb_rscv_classifier, train_data["class"][name]["x"], train_data["class"][name]["y"])
    #model = XGBClassifier(objective="binary:logistic", learning_rate=0.01, gamma=1, max_depth=10, seed=27, scale_pos_weight=1,
    #                      subsample=0.5, colsample_bytree=1.0, min_child_weight=1, reg_alpha=0, reg_lambda=1, n_estimators=100)
    #model.fit(train_data["class"][name]["x"], train_data["class"][name]["y"])
    print("Performance on training set:")
    report_classifier_performance(model, train_data["class"][name]["x"], train_data["class"][name]["y"])
    print("Performance on test set:")
    report_classifier_performance(model, test_data["class"][name]["x"], test_data["class"][name]["y"])
    print("-------------------------------------------------------------------------------------------------\n")

Prediction of panas_pos_raw_class_post

C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

processing

Optimal parameters: {Learning rate:  0.001, Gamma:  0.01, Max depth:  5, Subsample:  0.4, Max features at split:  0.8, Min child weight:  1, Alpha:  0, Lambda:  1, Number of estimators (trees):  1500}

Performance on training set:
Accuracy : 0.9655172413793104
logloss: 1.1909922894796794
AUC Score: 0.9952380952380953

Performance on test set:
Accuracy : 0.7777777777777778
logloss: 7.675372487472395
AUC Score: 0.8333333333333334

-------------------------------------------------------------------------------------------------

Prediction of panas_neg_raw_class_post

C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

processing

Optimal parameters: {Learning rate:  0.001, Gamma:  2, Max depth:  5, Subsample:  0.7, Max features at split:  0.6, Min child weight:  1, Alpha:  0, Lambda:  1, Number of estimators (trees):  500}

Performance on training set:
Accuracy : 0.9
logloss: 3.4539309459864147
AUC Score: 0.9819004524886878

Performance on test set:
Accuracy : 0.4444444444444444
logloss: 19.188386796601534
AUC Score: 0.35000000000000003

-------------------------------------------------------------------------------------------------

Prediction of flourishing_scale_raw_class_post

C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

processing

Optimal parameters: {Learning rate:  0.05, Gamma:  1, Max depth:  4, Subsample:  0.4, Max features at split:  0.8, Min child weight:  1, Alpha:  0, Lambda:  1, Number of estimators (trees):  1000}

Performance on training set:
Accuracy : 0.9642857142857143
logloss: 1.233527728389668
AUC Score: 1.0

Performance on test set:
Accuracy : 0.5555555555555556
logloss: 15.350833819103704
AUC Score: 0.6499999999999999

-------------------------------------------------------------------------------------------------

Prediction of panas_pos_imp_class_post

C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

processing

Optimal parameters: {Learning rate:  0.05, Gamma:  1, Max depth:  9, Subsample:  0.2, Max features at split:  0.8, Min child weight:  1, Alpha:  0, Lambda:  1, Number of estimators (trees):  1000}

Performance on training set:
Accuracy : 0.9333333333333333
logloss: 2.302638399489392
AUC Score: 0.9955357142857143

Performance on test set:
Accuracy : 0.6666666666666666
logloss: 11.513103153288048
AUC Score: 0.7777777777777779

-------------------------------------------------------------------------------------------------

Prediction of panas_neg_imp_class_post

In [4]:
def report_regression_performance(model, x, y):
    predict = model.predict(x)
    print("RMSE :", math.sqrt(metrics.mean_squared_error(y, predict)))
    df = pd.DataFrame({'Actual': np.array(y).reshape(-1),
                       'Predicted': np.array(predict).reshape(-1)})
    display(df)


# Classifier parameter grid
regr_parameters = {"colsample_bytree": [0.3, 0.6, 0.8, 1.0],
                   "gamma" : [0.01, 0.1, 0.3, 0.5, 1, 1.5, 2],
                   "min_child_weight": [1, 3, 5, 7],
                   "learning_rate": [0.1, 0.05, 0.01, 0.001],
                   "max_depth": [2, 4, 7, 10],
                   "n_estimators": [100, 250, 500, 1000, 1500, 2000],
                   'reg_alpha': [1e-5, 1e-2,  0.75],
                   'reg_lambda': [1e-5, 1e-2, 0.45],
                   "subsample": [0.2, 0.4, 0.5, 0.6, 0.7]}

In [5]:
# Baseline regressor
baseline_regressor = XGBRegressor(objective="reg:squarederror")
xgb_rscv_regressor = RandomizedSearchCV(baseline_regressor, param_distributions=regr_parameters, 
                                        scoring="neg_mean_squared_error", iid=False, 
                                        cv=5, verbose=False, n_jobs=4, n_iter=50)

# Find the optimal classifier and its performance on training and test set respectively
for name in train_data["regr"]:
    print("Prediction of " + name)
    model = find_best_model(xgb_rscv_regressor, train_data["regr"][name]["x"], train_data["regr"][name]["y"])
    print("Performance on training set:")
    report_regression_performance(model, train_data["regr"][name]["x"], train_data["regr"][name]["y"])
    print("Performance on test set:")
    report_regression_performance(model, test_data["regr"][name]["x"], test_data["regr"][name]["y"])
    print("-------------------------------------------------------------------------------------------------\n")

Prediction of panas_pos_raw_post

C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

processing

Optimal parameters: {Learning rate:  0.05, Gamma:  0.5, Max depth:  4, Subsample:  0.7, Max features at split:  0.3, Min child weight:  7, Alpha:  0.01, Lambda:  0.45, Number of estimators (trees):  100}

Performance on training set:
RMSE : 2.3006675958787994

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actual</th>
      <th>Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>31.0</td>
      <td>31.879549</td>
    </tr>
    <tr>
      <th>1</th>
      <td>27.0</td>
      <td>27.206074</td>
    </tr>
    <tr>
      <th>2</th>
      <td>28.0</td>
      <td>29.083790</td>
    </tr>
    <tr>
      <th>3</th>
      <td>34.0</td>
      <td>33.861973</td>
    </tr>
    <tr>
      <th>4</th>
      <td>32.0</td>
      <td>32.215164</td>
    </tr>
    <tr>
      <th>5</th>
      <td>43.0</td>
      <td>36.408585</td>
    </tr>
    <tr>
      <th>6</th>
      <td>36.0</td>
      <td>34.397022</td>
    </tr>
    <tr>
      <th>7</th>
      <td>33.0</td>
      <td>32.161957</td>
    </tr>
    <tr>
      <th>8</th>
      <td>17.0</td>
      <td>20.840256</td>
    </tr>
    <tr>
      <th>9</th>
      <td>27.0</td>
      <td>27.204685</td>
    </tr>
    <tr>
      <th>10</th>
      <td>17.0</td>
      <td>19.377268</td>
    </tr>
    <tr>
      <th>11</th>
      <td>34.0</td>
      <td>33.392815</td>
    </tr>
    <tr>
      <th>12</th>
      <td>25.0</td>
      <td>27.800982</td>
    </tr>
    <tr>
      <th>13</th>
      <td>28.0</td>
      <td>29.076733</td>
    </tr>
    <tr>
      <th>14</th>
      <td>22.0</td>
      <td>23.644310</td>
    </tr>
    <tr>
      <th>15</th>
      <td>34.0</td>
      <td>34.544659</td>
    </tr>
    <tr>
      <th>16</th>
      <td>20.0</td>
      <td>20.509306</td>
    </tr>
    <tr>
      <th>17</th>
      <td>41.0</td>
      <td>37.297508</td>
    </tr>
    <tr>
      <th>18</th>
      <td>26.0</td>
      <td>26.065844</td>
    </tr>
    <tr>
      <th>19</th>
      <td>24.0</td>
      <td>23.903622</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20.0</td>
      <td>21.798635</td>
    </tr>
    <tr>
      <th>21</th>
      <td>32.0</td>
      <td>28.265102</td>
    </tr>
    <tr>
      <th>22</th>
      <td>36.0</td>
      <td>30.705864</td>
    </tr>
    <tr>
      <th>23</th>
      <td>31.0</td>
      <td>31.869299</td>
    </tr>
    <tr>
      <th>24</th>
      <td>35.0</td>
      <td>33.776905</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26.0</td>
      <td>28.016722</td>
    </tr>
    <tr>
      <th>26</th>
      <td>33.0</td>
      <td>31.266592</td>
    </tr>
    <tr>
      <th>27</th>
      <td>21.0</td>
      <td>21.637476</td>
    </tr>
    <tr>
      <th>28</th>
      <td>37.0</td>
      <td>35.272034</td>
    </tr>
  </tbody>
</table>
</div>

Performance on test set:
RMSE : 5.632913053882458

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actual</th>
      <th>Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>25.0</td>
      <td>27.333611</td>
    </tr>
    <tr>
      <th>1</th>
      <td>19.0</td>
      <td>31.564211</td>
    </tr>
    <tr>
      <th>2</th>
      <td>33.0</td>
      <td>29.877413</td>
    </tr>
    <tr>
      <th>3</th>
      <td>32.0</td>
      <td>25.439102</td>
    </tr>
    <tr>
      <th>4</th>
      <td>29.0</td>
      <td>31.865566</td>
    </tr>
    <tr>
      <th>5</th>
      <td>16.0</td>
      <td>23.644310</td>
    </tr>
    <tr>
      <th>6</th>
      <td>26.0</td>
      <td>26.522257</td>
    </tr>
    <tr>
      <th>7</th>
      <td>27.0</td>
      <td>28.306042</td>
    </tr>
    <tr>
      <th>8</th>
      <td>28.0</td>
      <td>27.083006</td>
    </tr>
  </tbody>
</table>
</div>

-------------------------------------------------------------------------------------------------

Prediction of panas_neg_raw_post

C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

processing

Optimal parameters: {Learning rate:  0.1, Gamma:  0.01, Max depth:  4, Subsample:  0.6, Max features at split:  0.6, Min child weight:  1, Alpha:  0.01, Lambda:  0.01, Number of estimators (trees):  2000}

Performance on training set:
RMSE : 0.02940807049354463

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actual</th>
      <th>Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>24.0</td>
      <td>23.947317</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17.0</td>
      <td>17.005550</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13.0</td>
      <td>12.987899</td>
    </tr>
    <tr>
      <th>3</th>
      <td>19.0</td>
      <td>19.019075</td>
    </tr>
    <tr>
      <th>4</th>
      <td>12.0</td>
      <td>12.022677</td>
    </tr>
    <tr>
      <th>5</th>
      <td>28.0</td>
      <td>27.991869</td>
    </tr>
    <tr>
      <th>6</th>
      <td>12.0</td>
      <td>12.009696</td>
    </tr>
    <tr>
      <th>7</th>
      <td>25.0</td>
      <td>25.031002</td>
    </tr>
    <tr>
      <th>8</th>
      <td>33.0</td>
      <td>32.989052</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37.0</td>
      <td>36.952763</td>
    </tr>
    <tr>
      <th>10</th>
      <td>35.0</td>
      <td>35.029072</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15.0</td>
      <td>15.001562</td>
    </tr>
    <tr>
      <th>12</th>
      <td>26.0</td>
      <td>25.940281</td>
    </tr>
    <tr>
      <th>13</th>
      <td>24.0</td>
      <td>24.004753</td>
    </tr>
    <tr>
      <th>14</th>
      <td>18.0</td>
      <td>18.046316</td>
    </tr>
    <tr>
      <th>15</th>
      <td>21.0</td>
      <td>21.004290</td>
    </tr>
    <tr>
      <th>16</th>
      <td>37.0</td>
      <td>36.989132</td>
    </tr>
    <tr>
      <th>17</th>
      <td>15.0</td>
      <td>15.046638</td>
    </tr>
    <tr>
      <th>18</th>
      <td>28.0</td>
      <td>27.987373</td>
    </tr>
    <tr>
      <th>19</th>
      <td>14.0</td>
      <td>14.025970</td>
    </tr>
    <tr>
      <th>20</th>
      <td>15.0</td>
      <td>14.998698</td>
    </tr>
    <tr>
      <th>21</th>
      <td>19.0</td>
      <td>18.978731</td>
    </tr>
    <tr>
      <th>22</th>
      <td>21.0</td>
      <td>21.022280</td>
    </tr>
    <tr>
      <th>23</th>
      <td>34.0</td>
      <td>33.968285</td>
    </tr>
    <tr>
      <th>24</th>
      <td>11.0</td>
      <td>11.011704</td>
    </tr>
    <tr>
      <th>25</th>
      <td>16.0</td>
      <td>15.983998</td>
    </tr>
    <tr>
      <th>26</th>
      <td>12.0</td>
      <td>12.031585</td>
    </tr>
    <tr>
      <th>27</th>
      <td>17.0</td>
      <td>17.050808</td>
    </tr>
    <tr>
      <th>28</th>
      <td>26.0</td>
      <td>25.949724</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29.0</td>
      <td>28.978592</td>
    </tr>
  </tbody>
</table>
</div>

Performance on test set:
RMSE : 9.812527853468195

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actual</th>
      <th>Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>20.0</td>
      <td>26.502104</td>
    </tr>
    <tr>
      <th>1</th>
      <td>23.0</td>
      <td>15.890419</td>
    </tr>
    <tr>
      <th>2</th>
      <td>17.0</td>
      <td>31.627123</td>
    </tr>
    <tr>
      <th>3</th>
      <td>21.0</td>
      <td>28.453720</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15.0</td>
      <td>13.785615</td>
    </tr>
    <tr>
      <th>5</th>
      <td>17.0</td>
      <td>18.046316</td>
    </tr>
    <tr>
      <th>6</th>
      <td>39.0</td>
      <td>17.690716</td>
    </tr>
    <tr>
      <th>7</th>
      <td>18.0</td>
      <td>17.187283</td>
    </tr>
    <tr>
      <th>8</th>
      <td>22.0</td>
      <td>15.150069</td>
    </tr>
  </tbody>
</table>
</div>

-------------------------------------------------------------------------------------------------

Prediction of flourishing_scale_raw_post

C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

processing

Optimal parameters: {Learning rate:  0.01, Gamma:  2, Max depth:  2, Subsample:  0.4, Max features at split:  0.3, Min child weight:  7, Alpha:  0.01, Lambda:  1e-05, Number of estimators (trees):  2000}

Performance on training set:
RMSE : 5.530785636513608

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actual</th>
      <th>Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>45.0</td>
      <td>47.054317</td>
    </tr>
    <tr>
      <th>1</th>
      <td>46.0</td>
      <td>44.784611</td>
    </tr>
    <tr>
      <th>2</th>
      <td>44.0</td>
      <td>46.402569</td>
    </tr>
    <tr>
      <th>3</th>
      <td>33.0</td>
      <td>36.146645</td>
    </tr>
    <tr>
      <th>4</th>
      <td>47.0</td>
      <td>47.316608</td>
    </tr>
    <tr>
      <th>5</th>
      <td>39.0</td>
      <td>40.825245</td>
    </tr>
    <tr>
      <th>6</th>
      <td>53.0</td>
      <td>46.421959</td>
    </tr>
    <tr>
      <th>7</th>
      <td>48.0</td>
      <td>45.224552</td>
    </tr>
    <tr>
      <th>8</th>
      <td>41.0</td>
      <td>42.807468</td>
    </tr>
    <tr>
      <th>9</th>
      <td>38.0</td>
      <td>40.399616</td>
    </tr>
    <tr>
      <th>10</th>
      <td>42.0</td>
      <td>44.338070</td>
    </tr>
    <tr>
      <th>11</th>
      <td>45.0</td>
      <td>38.502544</td>
    </tr>
    <tr>
      <th>12</th>
      <td>42.0</td>
      <td>37.710556</td>
    </tr>
    <tr>
      <th>13</th>
      <td>43.0</td>
      <td>38.268341</td>
    </tr>
    <tr>
      <th>14</th>
      <td>56.0</td>
      <td>51.129398</td>
    </tr>
    <tr>
      <th>15</th>
      <td>36.0</td>
      <td>36.769131</td>
    </tr>
    <tr>
      <th>16</th>
      <td>56.0</td>
      <td>47.908737</td>
    </tr>
    <tr>
      <th>17</th>
      <td>28.0</td>
      <td>35.616768</td>
    </tr>
    <tr>
      <th>18</th>
      <td>23.0</td>
      <td>35.025398</td>
    </tr>
    <tr>
      <th>19</th>
      <td>44.0</td>
      <td>42.792480</td>
    </tr>
    <tr>
      <th>20</th>
      <td>46.0</td>
      <td>46.318100</td>
    </tr>
    <tr>
      <th>21</th>
      <td>16.0</td>
      <td>34.554810</td>
    </tr>
    <tr>
      <th>22</th>
      <td>44.0</td>
      <td>40.017323</td>
    </tr>
    <tr>
      <th>23</th>
      <td>52.0</td>
      <td>49.466789</td>
    </tr>
    <tr>
      <th>24</th>
      <td>55.0</td>
      <td>51.445423</td>
    </tr>
    <tr>
      <th>25</th>
      <td>48.0</td>
      <td>46.151577</td>
    </tr>
    <tr>
      <th>26</th>
      <td>49.0</td>
      <td>46.471954</td>
    </tr>
    <tr>
      <th>27</th>
      <td>50.0</td>
      <td>49.484875</td>
    </tr>
  </tbody>
</table>
</div>

Performance on test set:
RMSE : 7.024072606646081

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actual</th>
      <th>Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>31.0</td>
      <td>37.527508</td>
    </tr>
    <tr>
      <th>1</th>
      <td>31.0</td>
      <td>44.744766</td>
    </tr>
    <tr>
      <th>2</th>
      <td>50.0</td>
      <td>43.526310</td>
    </tr>
    <tr>
      <th>3</th>
      <td>42.0</td>
      <td>44.658203</td>
    </tr>
    <tr>
      <th>4</th>
      <td>48.0</td>
      <td>46.874172</td>
    </tr>
    <tr>
      <th>5</th>
      <td>47.0</td>
      <td>38.268341</td>
    </tr>
    <tr>
      <th>6</th>
      <td>37.0</td>
      <td>45.029140</td>
    </tr>
    <tr>
      <th>7</th>
      <td>49.0</td>
      <td>45.941948</td>
    </tr>
    <tr>
      <th>8</th>
      <td>41.0</td>
      <td>44.494076</td>
    </tr>
  </tbody>
</table>
</div>

-------------------------------------------------------------------------------------------------

Prediction of panas_pos_imp_post

C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

processing

Optimal parameters: {Learning rate:  0.05, Gamma:  1, Max depth:  7, Subsample:  0.4, Max features at split:  1.0, Min child weight:  1, Alpha:  0.01, Lambda:  1e-05, Number of estimators (trees):  2000}

Performance on training set:
RMSE : 0.28079316432878165

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actual</th>
      <th>Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>31.0</td>
      <td>31.020729</td>
    </tr>
    <tr>
      <th>1</th>
      <td>27.0</td>
      <td>27.192423</td>
    </tr>
    <tr>
      <th>2</th>
      <td>28.0</td>
      <td>27.997889</td>
    </tr>
    <tr>
      <th>3</th>
      <td>34.0</td>
      <td>34.166584</td>
    </tr>
    <tr>
      <th>4</th>
      <td>32.0</td>
      <td>31.889477</td>
    </tr>
    <tr>
      <th>5</th>
      <td>43.0</td>
      <td>42.614388</td>
    </tr>
    <tr>
      <th>6</th>
      <td>36.0</td>
      <td>35.784153</td>
    </tr>
    <tr>
      <th>7</th>
      <td>33.0</td>
      <td>32.783566</td>
    </tr>
    <tr>
      <th>8</th>
      <td>17.0</td>
      <td>16.898182</td>
    </tr>
    <tr>
      <th>9</th>
      <td>27.0</td>
      <td>27.046957</td>
    </tr>
    <tr>
      <th>10</th>
      <td>17.0</td>
      <td>17.279942</td>
    </tr>
    <tr>
      <th>11</th>
      <td>34.0</td>
      <td>34.118343</td>
    </tr>
    <tr>
      <th>12</th>
      <td>25.0</td>
      <td>25.498665</td>
    </tr>
    <tr>
      <th>13</th>
      <td>28.0</td>
      <td>28.180979</td>
    </tr>
    <tr>
      <th>14</th>
      <td>22.0</td>
      <td>21.486814</td>
    </tr>
    <tr>
      <th>15</th>
      <td>34.0</td>
      <td>34.338310</td>
    </tr>
    <tr>
      <th>16</th>
      <td>20.0</td>
      <td>19.904247</td>
    </tr>
    <tr>
      <th>17</th>
      <td>41.0</td>
      <td>40.707661</td>
    </tr>
    <tr>
      <th>18</th>
      <td>26.0</td>
      <td>26.162977</td>
    </tr>
    <tr>
      <th>19</th>
      <td>24.0</td>
      <td>24.212902</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20.0</td>
      <td>20.022543</td>
    </tr>
    <tr>
      <th>21</th>
      <td>32.0</td>
      <td>31.549477</td>
    </tr>
    <tr>
      <th>22</th>
      <td>36.0</td>
      <td>35.488956</td>
    </tr>
    <tr>
      <th>23</th>
      <td>31.0</td>
      <td>30.899107</td>
    </tr>
    <tr>
      <th>24</th>
      <td>35.0</td>
      <td>34.775982</td>
    </tr>
    <tr>
      <th>25</th>
      <td>38.0</td>
      <td>38.135300</td>
    </tr>
    <tr>
      <th>26</th>
      <td>26.0</td>
      <td>26.558887</td>
    </tr>
    <tr>
      <th>27</th>
      <td>33.0</td>
      <td>32.682892</td>
    </tr>
    <tr>
      <th>28</th>
      <td>21.0</td>
      <td>21.397011</td>
    </tr>
    <tr>
      <th>29</th>
      <td>37.0</td>
      <td>36.964718</td>
    </tr>
  </tbody>
</table>
</div>

Performance on test set:
RMSE : 5.356261832250222

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actual</th>
      <th>Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>25.0</td>
      <td>25.741905</td>
    </tr>
    <tr>
      <th>1</th>
      <td>19.0</td>
      <td>32.573921</td>
    </tr>
    <tr>
      <th>2</th>
      <td>33.0</td>
      <td>31.908583</td>
    </tr>
    <tr>
      <th>3</th>
      <td>32.0</td>
      <td>26.999275</td>
    </tr>
    <tr>
      <th>4</th>
      <td>29.0</td>
      <td>30.595886</td>
    </tr>
    <tr>
      <th>5</th>
      <td>16.0</td>
      <td>21.486814</td>
    </tr>
    <tr>
      <th>6</th>
      <td>26.0</td>
      <td>25.078253</td>
    </tr>
    <tr>
      <th>7</th>
      <td>27.0</td>
      <td>30.088383</td>
    </tr>
    <tr>
      <th>8</th>
      <td>28.0</td>
      <td>25.958933</td>
    </tr>
  </tbody>
</table>
</div>

-------------------------------------------------------------------------------------------------

Prediction of panas_neg_imp_post

C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

processing

Optimal parameters: {Learning rate:  0.1, Gamma:  0.01, Max depth:  10, Subsample:  0.7, Max features at split:  0.3, Min child weight:  1, Alpha:  0.01, Lambda:  1e-05, Number of estimators (trees):  250}

Performance on training set:
RMSE : 0.03265488007271522

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actual</th>
      <th>Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>24.0</td>
      <td>23.953562</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17.0</td>
      <td>16.974777</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13.0</td>
      <td>12.992293</td>
    </tr>
    <tr>
      <th>3</th>
      <td>19.0</td>
      <td>19.064936</td>
    </tr>
    <tr>
      <th>4</th>
      <td>12.0</td>
      <td>12.041485</td>
    </tr>
    <tr>
      <th>5</th>
      <td>28.0</td>
      <td>27.985289</td>
    </tr>
    <tr>
      <th>6</th>
      <td>12.0</td>
      <td>12.037071</td>
    </tr>
    <tr>
      <th>7</th>
      <td>25.0</td>
      <td>25.006380</td>
    </tr>
    <tr>
      <th>8</th>
      <td>33.0</td>
      <td>32.996155</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37.0</td>
      <td>36.930267</td>
    </tr>
    <tr>
      <th>10</th>
      <td>35.0</td>
      <td>34.983028</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15.0</td>
      <td>14.972004</td>
    </tr>
    <tr>
      <th>12</th>
      <td>26.0</td>
      <td>25.962902</td>
    </tr>
    <tr>
      <th>13</th>
      <td>24.0</td>
      <td>23.997215</td>
    </tr>
    <tr>
      <th>14</th>
      <td>18.0</td>
      <td>17.976631</td>
    </tr>
    <tr>
      <th>15</th>
      <td>21.0</td>
      <td>20.983139</td>
    </tr>
    <tr>
      <th>16</th>
      <td>37.0</td>
      <td>36.983242</td>
    </tr>
    <tr>
      <th>17</th>
      <td>15.0</td>
      <td>15.013759</td>
    </tr>
    <tr>
      <th>18</th>
      <td>28.0</td>
      <td>27.978922</td>
    </tr>
    <tr>
      <th>19</th>
      <td>14.0</td>
      <td>14.018765</td>
    </tr>
    <tr>
      <th>20</th>
      <td>15.0</td>
      <td>15.038577</td>
    </tr>
    <tr>
      <th>21</th>
      <td>19.0</td>
      <td>18.991966</td>
    </tr>
    <tr>
      <th>22</th>
      <td>21.0</td>
      <td>20.996119</td>
    </tr>
    <tr>
      <th>23</th>
      <td>34.0</td>
      <td>33.960468</td>
    </tr>
    <tr>
      <th>24</th>
      <td>11.0</td>
      <td>11.033455</td>
    </tr>
    <tr>
      <th>25</th>
      <td>16.0</td>
      <td>16.001181</td>
    </tr>
    <tr>
      <th>26</th>
      <td>12.0</td>
      <td>12.066772</td>
    </tr>
    <tr>
      <th>27</th>
      <td>17.0</td>
      <td>17.041338</td>
    </tr>
    <tr>
      <th>28</th>
      <td>26.0</td>
      <td>26.033216</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29.0</td>
      <td>28.975161</td>
    </tr>
  </tbody>
</table>
</div>

Performance on test set:
RMSE : 10.854650858578509

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actual</th>
      <th>Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>20.0</td>
      <td>25.829168</td>
    </tr>
    <tr>
      <th>1</th>
      <td>23.0</td>
      <td>17.350296</td>
    </tr>
    <tr>
      <th>2</th>
      <td>17.0</td>
      <td>32.840187</td>
    </tr>
    <tr>
      <th>3</th>
      <td>21.0</td>
      <td>29.540060</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15.0</td>
      <td>18.282812</td>
    </tr>
    <tr>
      <th>5</th>
      <td>17.0</td>
      <td>17.976631</td>
    </tr>
    <tr>
      <th>6</th>
      <td>39.0</td>
      <td>15.051043</td>
    </tr>
    <tr>
      <th>7</th>
      <td>18.0</td>
      <td>17.123926</td>
    </tr>
    <tr>
      <th>8</th>
      <td>22.0</td>
      <td>12.801208</td>
    </tr>
  </tbody>
</table>
</div>

-------------------------------------------------------------------------------------------------

Prediction of flourishing_scale_imp_post

C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\brs97\AppData\Local\Programs\Python\Python37\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

processing

Optimal parameters: {Learning rate:  0.05, Gamma:  0.5, Max depth:  10, Subsample:  0.5, Max features at split:  0.3, Min child weight:  7, Alpha:  0.75, Lambda:  1e-05, Number of estimators (trees):  500}

Performance on training set:
RMSE : 2.309563156087042

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actual</th>
      <th>Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>45.0</td>
      <td>46.579205</td>
    </tr>
    <tr>
      <th>1</th>
      <td>46.0</td>
      <td>45.342564</td>
    </tr>
    <tr>
      <th>2</th>
      <td>44.0</td>
      <td>44.611248</td>
    </tr>
    <tr>
      <th>3</th>
      <td>33.0</td>
      <td>33.381367</td>
    </tr>
    <tr>
      <th>4</th>
      <td>47.0</td>
      <td>47.161240</td>
    </tr>
    <tr>
      <th>5</th>
      <td>39.0</td>
      <td>39.527966</td>
    </tr>
    <tr>
      <th>6</th>
      <td>53.0</td>
      <td>50.251637</td>
    </tr>
    <tr>
      <th>7</th>
      <td>48.0</td>
      <td>47.564167</td>
    </tr>
    <tr>
      <th>8</th>
      <td>41.0</td>
      <td>41.864029</td>
    </tr>
    <tr>
      <th>9</th>
      <td>38.0</td>
      <td>38.043617</td>
    </tr>
    <tr>
      <th>10</th>
      <td>42.0</td>
      <td>43.317474</td>
    </tr>
    <tr>
      <th>11</th>
      <td>45.0</td>
      <td>41.635326</td>
    </tr>
    <tr>
      <th>12</th>
      <td>42.0</td>
      <td>40.218338</td>
    </tr>
    <tr>
      <th>13</th>
      <td>43.0</td>
      <td>40.178093</td>
    </tr>
    <tr>
      <th>14</th>
      <td>56.0</td>
      <td>55.863976</td>
    </tr>
    <tr>
      <th>15</th>
      <td>36.0</td>
      <td>35.072502</td>
    </tr>
    <tr>
      <th>16</th>
      <td>56.0</td>
      <td>53.700298</td>
    </tr>
    <tr>
      <th>17</th>
      <td>28.0</td>
      <td>30.009417</td>
    </tr>
    <tr>
      <th>18</th>
      <td>23.0</td>
      <td>25.679424</td>
    </tr>
    <tr>
      <th>19</th>
      <td>44.0</td>
      <td>42.253845</td>
    </tr>
    <tr>
      <th>20</th>
      <td>46.0</td>
      <td>46.221855</td>
    </tr>
    <tr>
      <th>21</th>
      <td>16.0</td>
      <td>25.466764</td>
    </tr>
    <tr>
      <th>22</th>
      <td>44.0</td>
      <td>43.542309</td>
    </tr>
    <tr>
      <th>23</th>
      <td>52.0</td>
      <td>51.372131</td>
    </tr>
    <tr>
      <th>24</th>
      <td>55.0</td>
      <td>54.849167</td>
    </tr>
    <tr>
      <th>25</th>
      <td>48.0</td>
      <td>46.823986</td>
    </tr>
    <tr>
      <th>26</th>
      <td>49.0</td>
      <td>49.894115</td>
    </tr>
    <tr>
      <th>27</th>
      <td>50.0</td>
      <td>50.083477</td>
    </tr>
  </tbody>
</table>
</div>

Performance on test set:
RMSE : 6.842601943910931

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Actual</th>
      <th>Predicted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>31.0</td>
      <td>37.425507</td>
    </tr>
    <tr>
      <th>1</th>
      <td>31.0</td>
      <td>42.945602</td>
    </tr>
    <tr>
      <th>2</th>
      <td>50.0</td>
      <td>46.617569</td>
    </tr>
    <tr>
      <th>3</th>
      <td>42.0</td>
      <td>46.930843</td>
    </tr>
    <tr>
      <th>4</th>
      <td>48.0</td>
      <td>46.114059</td>
    </tr>
    <tr>
      <th>5</th>
      <td>47.0</td>
      <td>40.178093</td>
    </tr>
    <tr>
      <th>6</th>
      <td>37.0</td>
      <td>47.012836</td>
    </tr>
    <tr>
      <th>7</th>
      <td>49.0</td>
      <td>46.030804</td>
    </tr>
    <tr>
      <th>8</th>
      <td>41.0</td>
      <td>47.517975</td>
    </tr>
  </tbody>
</table>
</div>

-------------------------------------------------------------------------------------------------